    <header class="header text-center">
        <a href="/"></a>
            <h1>Mon PokéDex</h1>
            <img src="../img/medaillonhead.png">
            <a href="/" class="nav-link" aria-current="page">Mes Pokémons</a>
            <a href="/addPoke" class="nav-link">Ajouter un Pokémon</a>
        </ul>
    </header>